target/
!.mvn/wrapper/maven-wrapper.jar


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/.metadata/
/.recommenders/

### Java ###
*.class
*.war
*.ear
/log.dir_IS_UNDEFINED/


### Windows thumbnails ###
Thumbs.db

### Mac OS X metadata ###
.DS_Store

## Linux backup ##
*~

### thumbnails ###
._*

